<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></small></h4>
      <h4>In Stock: <%= product.inventory_count %></small></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for order_item, remote: true do |f| %>
        <h5 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h5>
        <div class="form-group">
          <%= f.number_field :quantity, value: 0, class: "form-control", min: 0, max: product.inventory_count.to_i %>
        </div>
        <div class="input-group">
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>